alembic==1.14.0
beautifulsoup4==4.12.3
email-validator==2.2.0
fastapi==0.115.6
GeoAlchemy2==0.16.0
geopandas==1.0.1
httpx==0.28.1
joblib==1.4.2
numpy==2.2.1
pandas==2.2.3
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
psycopg[binary]==3.2.3
pydantic==2.10.4
pydantic-settings==2.7.0
python-jose[cryptography]==3.3.0
python-multipart==0.0.20
scikit-learn==1.6.0
shapely==2.0.6
SQLAlchemy==2.0.36
structlog==24.4.0
uvicorn[standard]==0.34.0
